@use '~@angular/material' as mat;
@import './default-color-values.scss';
@import './color-palettes.scss';
@import '../typography-config.scss';
@import '../custom-components-theme.scss';

@include mat.core($custom-typography);

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $theme-primary-palette,
    accent: $theme-accent-palette,
    warn: $theme-warn-palette,
  )
));

@include mat.all-component-themes($dark-theme);
@include custom-components-theme($dark-theme);
